name: Generate Pacman Contribution Graph

on:
  schedule:
    # Jalankan setiap 12 jam.
    - cron: '*/12 * * * *'
  workflow_dispatch:

jobs:
  generate-graph:
    permissions:
      contents: write # Izin untuk melakukan commit
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      # 1. Action untuk membuat SVG Pac-Man
      - name: Generate Pacman SVG
        uses: platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          # BARIS INI PENTING: Menentukan mode Pac-Man
          mode: pacman 
          # Path Output: akan membuat file di folder dist/
          outputs: dist/pacman-contribution-graph.svg

      # 2. Action untuk melakukan Commit ke Branch Utama (main)
      - name: Commit and Push Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(pacman): generate contribution graph"
          file_pattern: dist/pacman-contribution-graph.svg
