name: Generate Pacman Contribution Graph

on:
  schedule:
    - cron: '*/12 * * * *' # Jalankan setiap 12 jam
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate-graph:
    permissions:
      contents: write # Izin untuk melakukan commit
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      # 1. Action untuk membuat SVG (dengan mode Pac-Man dan tema terang/gelap)
      - name: Generate Pacman SVGs
        uses: platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          mode: pacman
          # Output untuk tema terang dan gelap
          outputs: |
            dist/pacman-contribution-graph-dark.svg
            
      # 2. Action untuk melakukan Commit ke Branch Utama (main)
      - name: Commit and Push Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(pacman): update pacman svg for themes"
          file_pattern: dist/*.svg # Commit semua file SVG di folder dist/
